<div class="block-title underline color-gray">
	<span>Обзор</span>
	<hr>
</div>
	<div class="bottom-carousel">
		<ul>
			<li class="carousel-item">
				<span class="carousel-item-title">Знакомства</span>
				<img src="../img/bottom-slider/140.jpg" alt="">
				<div class="carousel-item-description">Отношения актеров в кино и реальной жизни</div>
			</li>
			<li class="carousel-item">
				<span class="carousel-item-title">Знакомства</span>
				<img src="../img/bottom-slider/141.jpg" alt="">
				<div class="carousel-item-description">Отношения актеров в кино и реальной жизни</div>
			</li>
			<li class="carousel-item">
				<span class="carousel-item-title">Знакомства</span>
				<img src="../img/bottom-slider/142.jpg" alt="">
				<div class="carousel-item-description">Отношения актеров в кино и реальной жизни</div>
			</li>
			<li class="carousel-item">
				<span class="carousel-item-title">Знакомства</span>
				<img src="../img/bottom-slider/143.jpg" alt="">
				<div class="carousel-item-description">Отношения актеров в кино и реальной жизни</div>
			</li>
			<li class="carousel-item">
				<span class="carousel-item-title">Знакомства</span>
				<img src="../img/bottom-slider/144.jpg" alt="">
				<div class="carousel-item-description">Отношения актеров в кино и реальной жизни</div>
			</li>
			<li class="carousel-item">
				<span class="carousel-item-title">Знакомства</span>
				<img src="../img/bottom-slider/146.jpg" alt="">
				<div class="carousel-item-description">Отношения актеров в кино и реальной жизни</div>
			</li>
			<li class="carousel-item">
				<span class="carousel-item-title">Знакомства</span>
				<img src="../img/bottom-slider/146.jpg" alt="">
				<div class="carousel-item-description">Отношения актеров в кино и реальной жизни</div>
			</li>
		</ul>
		<div class="move left"></div>
		<div class="move right"></div>
	</div>
	<hr class="block-separator">
