<div class="video-news-block">
	<div class="block-title midelline color-gray">
		<span>ВИДЕО</span>
		<hr>
	</div>
	<ul>
		<li>
			<div class="news-element">
				<div class="img-wrapper player">
					<img src="../img/video-news/150.jpg" alt="">
				</div>
				<div class="news-element-description">Фильм дня Гитлер капут</div>
			</div>
		</li>
		<li>
			<div class="news-element">
				<div class="img-wrapper player">
					<img src="../img/video-news/150.jpg" alt="">
				</div>
				<div class="news-element-description">Фильм дня Гитлер капут</div>
			</div>
		</li>
		<li>
			<div class="news-element">
				<div class="img-wrapper player">
					<img src="../img/video-news/150.jpg" alt="">
				</div>
				<div class="news-element-description">Фильм дня Гитлер капут</div>
			</div>
		</li>
		<li>
			<div class="news-element">
				<div class="img-wrapper player">
					<img src="../img/video-news/150.jpg" alt="">
				</div>
				<div class="news-element-description">Фильм дня Гитлер капут</div>
			</div>
		</li>
		<li>
			<div class="news-element">
				<div class="img-wrapper player">
					<img src="../img/video-news/150.jpg" alt="">
				</div>
				<div class="news-element-description">Фильм дня Гитлер капут</div>
			</div>
		</li>
	</ul>
	<div class="more-video">
		<a href="">Больше видео</a>
	</div>
	<hr class="block-separator">
	<div class="roubric-second">
		<div class="roubric-second-title">Интересные статьи</div>
		<ul>
			<li class="news-element">
				<div class="img-wrapper">
					<img src="../img/103.jpg" alt="">
				</div>
				<div class="news-element-description">Анджелина Джоли сильно похудела</div>
			</li>
			<li class="news-element">
				<div class="img-wrapper">
					<img src="../img/104.jpg" alt="">
				</div>
				<div class="news-element-description">Анджелина Джоли сильно похудела
					<span class="sprite sprite-player-black"></span>
				</div>
			</li>
			<li class="news-element">
				<div class="img-wrapper">
					<img src="../img/105.jpg" alt="">
				</div>
				<div class="news-element-description">Анджелина Джоли сильно похудела</div>
			</li>
			<li class="news-element">
				<div class="img-wrapper">
					<img src="../img/106.jpg" alt="">
				</div>
				<div class="news-element-description">Анджелина Джоли сильно похудела</div>
			</li>
			<li class="news-element">
				<div class="img-wrapper">
					<img src="../img/103.jpg" alt="">
				</div>
				<div class="news-element-description">Анджелина Джоли сильно похудела</div>
			</li>
		</ul>
		<hr class="block-separator">
	</div>
</div>

