<div class="block-title underline color-gray">
	<span>Обзор</span>
	<hr>
</div>
<div class="header-carousel">
	<div>
		<span>Знакомства</span>
		<img src="../img/bottom-slider/140.jpg" alt="">
		<span>Отношения актеров в кино и реальной жизни</span>
	</div>
	<div>
		<span>Знакомства</span>
		<img src="../img/bottom-slider/141.jpg" alt="">
		<span>Отношения актеров в кино и реальной жизни</span>
	</div>
	<div>
		<span>Знакомства</span>
		<img src="../img/bottom-slider/142.jpg" alt="">
		<span>Отношения актеров в кино и реальной жизни</span>
	</div>
	<div>
		<span>Знакомства</span>
		<img src="../img/bottom-slider/143.jpg" alt="">
		<span>Отношения актеров в кино и реальной жизни</span>
	</div>
	<div>
		<span>Знакомства</span>
		<img src="../img/bottom-slider/144.jpg" alt="">
		<span>Отношения актеров в кино и реальной жизни</span>
	</div>
	<div>
		<span>Знакомства</span>
		<img src="../img/bottom-slider/146.jpg" alt="">
		<span>Отношения актеров в кино и реальной жизни</span>
	</div>
	<div>
		<span>Знакомства</span>
		<img src="../img/bottom-slider/146.jpg" alt="">
		<span>Отношения актеров в кино и реальной жизни</span>
	</div>
	<div class="move left"></div>
	<div class="move right"></div>
</div>
<hr class="block-separator">