<div class="left-column">
	<div class="block-title midelline color-gray">
		<span>ВИДЕО</span>
		<hr>
	</div>
	<figure>
		<img src="../img/video-news/150.jpg" alt="">
		<figcaption class="news-element-description">Фильм дня Гитлер капут</figcaption>
	</figure>
	<figure>
		<img src="../img/video-news/150.jpg" alt="">
		<figcaption class="news-element-description">Фильм дня Гитлер капут</figcaption>
	</figure>
	<figure>
		<img src="../img/video-news/150.jpg" alt="">
		<figcaption class="news-element-description">Фильм дня Гитлер капут</figcaption>
	</figure>
	<figure>
		<img src="../img/video-news/150.jpg" alt="">
		<figcaption class="news-element-description">Фильм дня Гитлер капут</figcaption>
	</figure>
	<figure>
		<img src="../img/video-news/150.jpg" alt="">
		<figcaption class="news-element-description">Фильм дня Гитлер капут</figcaption>
	</figure>
	<div class="more-video">
		<a href="">Больше видео</a>
	</div>
	<hr class="block-separator">
	<div class="roubric-second-title">Интересные статьи</div>
	<figure>
		<img src="../img/103.jpg" alt="">
		<figcaption class="news-element-description">Анджелина Джоли сильно похудела</figcaption>
	</figure>
	<figure>
		<img src="../img/104.jpg" alt="">
		<figcaption class="news-element-description">Анджелина Джоли сильно похудела
			<span class="sprite sprite-player-black"></span>
		</figcaption>
	</figure>
	<figure>
		<img src="../img/105.jpg" alt="">
		<figcaption class="news-element-description">Анджелина Джоли сильно похудела</figcaption>
	</figure>
	<figure>
		<img src="../img/106.jpg" alt="">
		<figcaption class="news-element-description">Анджелина Джоли сильно похудела</figcaption>
	</figure>
	<figure>
		<img src="../img/103.jpg" alt="">
		<figcaption class="news-element-description">Анджелина Джоли сильно похудела</figcaption>
	</figure>
	<hr class="block-separator">
</div>
<div class="right-column">
	SDFADFSADF		
</div>