	<div class="hot-themes">
		<span class="hot-themes-title">Hot themes</span>
		<span class="hot-themes-name">EURO-2016 Playoffs El'Classico</span>
	</div>
	<div class="big-carousel">
		<figure>
			<img src="/img/160.jpg" alt="">
			<figcaption>
				<div class="main-carousel-content-title">
					Jurgen Klopp makes a sexy Liverpool
				</div>
				<div class="main-carousel-content-describe">
					Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp
				</div>			
			</figcaption>		
		</figure>
		<div class="manage">
			<ul class="carousel-control">
				<li class="carousel-control-element sprite sprite-arrow-left">
				</li>
				<li class="carousel-control-element">
					<span class="pagin-graph">7/20</span>
				</li>
				<li class="carousel-control-element sprite sprite-pagin-in-circle-graph">
				</li>
				<li class="carousel-control-element sprite sprite-arrow-right">
				</li>
			</ul>	
		</div>
	</div>
	<div class="news-block">
		<div class="roubric-left">
			<div class="block-title underline color-blue">
				<span>Last News</span>
				<hr>
			</div>
			<a href="">Real Madrid players to gaffer: up and at 'em!</a>
			<a href="">Swedes indebted to talismanic Ibrahimovic</a>
			<a href="">2016 European Championship to go ahead in France
				<span class="sprite sprite-photo-camera-black"></span>
				<span class="sprite sprite-player-black"></span>
			</a>
			<a href="">Ancelotti: "Premier League return is my no. 1 choice"</a>
			<a href="">Walters double secures Euro 2016 spot for Ireland</a>
			<a href="">"They intended to set off an explosive inside the stadium" - eyewitness</a>
			<a href="">Raúl bids goodbye in style</a>
			<a href="">Five reasons Belgium vs. Spain was called off</a>
			<a href="">Niggles won't keep Benzema out of 'Clásico'</a>
			<a href="">Abdeslam suspected to have been near King Baudouin Stadium</a>
			<div class="block-title underline color-blue">
				<span>Newsfeed</span>
				<hr>
			</div>
			<figure>
				<img src="/img/165.jpg" alt="">
				<figcaption class="text-container">Zlatan Ibrahimovic on target as Sweden qualify  with draw in Denmark
					<span class="sprite sprite-photo-camera-black"></span>
					<span class="sprite sprite-player-black"></span>
				</figcaption>
			</figure>
			<a href="">Real Madrid players to gaffer: up and at 'em!</a>
			<a href="">Swedes indebted to talismanic Ibrahimovic
				<span class="sprite sprite-photo-camera-black"></span>
			</a>
			<a href="">2016 European Championship to go ahead in France
				<span class="sprite sprite-player-black"></span>
			</a>
			<a href="">Ancelotti: "Premier League return is my no. 1 choice"</a>
		</div>
		<div class="roubric-right">
			<figure>
				<div class="img-icon player">
					<img src="img/166.jpg" alt=""/>
				</div>
				<figcaption class="photo-news-big-title">Here is how Leage Champions trophy looks like </figcaption>
			</figure>
			<figure>
				<div class="img-icon player">
					<img src="img/167.jpg" alt=""/>
				</div>
				<figcaption class="photo-news-big-title">Here is how Leage Champions trophy looks like </figcaption>
			</figure>
			<figure>
				<div class="img-icon player">
					<img src="img/90.jpg" alt=""/>
				</div>
				<figcaption class="photo-news-big-title">Here is how Leage Champions trophy looks like </figcaption>
			</figure>
		</div>
	</div>
	<div class="bottom-news">
		
	</div>		