@import "../../bower_components/normalize.css/normalize.css";
@import "sprite-style.less";
@import (inline) '../style/reset.css';
@import '../style/variables.less';
@import '../style/header.less';
@import '../style/block-title.less';
@import '../style/content.less';

body {
	.base-font;
}

div, figure, figcaption {
	outline: 1px solid red;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.block-separator {
	border: none;
	background-color: gray;
	height: 3px;
}
.content {
	display: flex;
	flex-direction:row;
}
figure {
		display: flex;
		flex-direction:row;
		margin: 10px 0;
		img {
			flex:1 1;
			flex-basis:30%;
		}
		figcaption {
			flex:2 2 50%;
		}
}

.clearfix {
    content: '';
    clear: both;
    display: table;
    width: 0;
    height: 0;
}
@import '../style/media.less';